@font-face {
  font-family: "SubHeadings-Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Headings-CalSans";
  src:
    url("../assets/fonts/CalSans-SemiBold.otf") format("opentype"),
    url("../assets/fonts/CalSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Body-Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* =========================
   INTRO (CENTERED)
========================= */

#intro {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-blue);

  z-index: 9999;
}

/* TEXT */
.intro-text {
  font-family: "CalSans", sans-serif;
  font-size: 3.5rem;
  color: var(--white);
  text-align: center;
}

/* CURSOR */
.cursor {
  animation: blink 1s infinite;
}

/* YELLOW DOT */
.intro-text .dot {
  color: var(--accent-yellow);
}

/* BLINK */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .intro-text {
    font-size: 2rem;
  }
}
