@font-face {
  font-family: "SubHeadings-Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* ==========================
   NAVBAR BASE
========================== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;

  background: transparent;
  transition: all 0.4s ease;
}

/* ==========================
   BRAND COLORS
========================== */
:root {
  --primary-blue: #315dfe;
  --white: #ffffff;
  --accent-yellow: #fed04f;
}

/* ==========================
   LOGO
========================== */
.logo {
  height: 50px; /* controls size */
  width: auto;
}

/* ==========================
   NAV LINKS
========================== */
.navbar nav {
  display: flex;
  gap: 30px;
}

.navbar nav a {
  font-family: "SubHeadings-Montserrat", sans-serif;
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  letter-spacing: 1px;
  position: relative;
  transition: opacity 0.3s ease;
}

/* subtle hover */
.navbar nav a:hover {
  opacity: 0.6;
  color: var(--accent-yellow);
}

/* underline animation */
.navbar nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  color: var(--accent-yellow);
  width: 0%;
  height: 2px;
  background: var(--accent-yellow);

  transition: width 0.3s ease;
}

.navbar nav a:hover::after {
  width: 100%;
}

/* ==========================
   SCROLLED NAVBAR STATE
========================== */

.navbar.scrolled {
  /* background: var(--primary-blue);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); */
  background: rgba(49, 93, 254, 0.9);
  backdrop-filter: blur(10px);
}

/* keep text clean on blue */
.navbar.scrolled nav a {
  color: var(--white);
}

/* hover still yellow */
.navbar.scrolled nav a:hover {
  color: var(--accent-yellow);
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* ANIMATION */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE NAV */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-blue);

    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    display: none;
  }

  .navbar nav.active {
    display: flex;
  }
}
